# ---- Base de données Railway PostgreSQL ----
DATABASE_URL="postgresql://postgres:IHbgfWTcJlLqTKhAhVVMtCzfLNEdIrlv@altaria.proxy.rlwy.net:33647/railway"

DIRECT_URL="postgresql://postgres:IHbgfWTcJlLqTKhAhVVMtCzfLNEdIrlv@altaria.proxy.rlwy.net:33647/railway"

# ---- Session ----
JWT_SECRET="DTK-super-secret-2026-change-moi"

# ---- Envoi d'e-mails ----
RESEND_API_KEY="re_LwBNG8St_Grc5GpPt9nvrYuy3A1WAHrEb"
EMAIL_FROM="Discord Bot Manager <onboarding@resend.dev>"

# ---- Discord OAuth ----
DISCORD_CLIENT_ID="1545694976237903982"
DISCORD_CLIENT_SECRET="33i7I0Uxd3GongP941MRDnAywdyCKUz0"
DISCORD_REDIRECT_URI="http://localhost:3000/api/discord/oauth/callback"

NEXT_PUBLIC_APP_URL="http://localhost:3000"
