# ---- Base de données Railway PostgreSQL ----
DATABASE_URL="postgresql://postgres:IHbgfWTcJlLqTKhAhVVMtCzfLNEdIrlv@altaria.proxy.rlwy.net:33647/railway"

DIRECT_URL="postgresql://postgres:IHbgfWTcJlLqTKhAhVVMtCzfLNEdIrlv@altaria.proxy.rlwy.net:33647/railway"

# ---- Session ----
JWT_SECRET="DTK-super-secret-2026-change-moi"

# ---- Envoi d'e-mails ----
EMAILJS_SERVICE_ID=service_1n45m4i
EMAILJS_TEMPLATE_ID=template_6sxpgqc
EMAILJS_PUBLIC_KEY=m9CLdOwnSIdytgsdt
EMAILJS_PRIVATE_KEY=bQ-wqKoXM8XMtK2gCtFZJ

# ---- Discord OAuth ----
DISCORD_CLIENT_ID="1545694976237903982"
DISCORD_CLIENT_SECRET="33i7I0Uxd3GongP941MRDnAywdyCKUz0"
DISCORD_REDIRECT_URI="http://localhost:3000/api/discord/oauth/callback"

NEXT_PUBLIC_APP_URL="http://localhost:3000"
